:root {
    --color-violet: #5b21b6;
    --color-transparent-violet: rgba(91, 33, 182, 0.6);
    --color-grey: rgba(0, 0, 0, 0.1);
    --color-hover-grey: #ccc;
    --color-opaque-grey: #e5e5e5;
    --color-light-rose: #fff1f2;
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

@font-face {
    font-family: proxima-nova, sans-serif;
    src: url(ProximaNova.otf),
         url(Proxima\ Nova\ Alt\ Bold.otf),
         url(Proxima\ Nova\ Alt\ Light.otf),
         url(Proxima\ Nova\ Alt\ Thin.otf),
         url(Proxima\ Nova\ Black.otf),
         url(Proxima\ Nova\ Bold.otf),
         url(Proxima\ Nova\ Extrabold.otf),
         url(Proxima\ Nova\ Thin.otf); 
}

html {
    margin: 0;
    border: 0;
    padding: 0;
}

* {
    font-family: proxima-nova;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

#content {
    background-color: var(--color-violet);
    display: grid;
    grid-template-columns: 0.75fr 5fr;
    grid-template-rows: 1fr 8fr;
    height: 100%;
    width: 100%;
}

.sidenav {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: var(--color-violet);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#add-new-project {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 60%;
    margin-bottom: 15px;
    font-weight: 600;
    background-color: var(--color-opaque-grey);
    font-size: 14px;
    padding: 10px;
    text-align: center;
}

#add-new-project:hover {
    cursor: pointer;
    background-color: var(--color-hover-grey);
}

#add-new-project:active {
    transform: translateY(2px);
}

.projects-label {
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
}

#projects {
    width: 60%;
    border: none;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
}

header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: var(--color-violet);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 35px;
    color: white;
}

#add-new-project:disabled {
    background-color: var(--color-opaque-grey);
    color: black;
}

#add-new-task:disabled {
    background-color: var(--color-grey);
    color: black;
}

.control-buttons {
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 20px;
}

label[for="sort-selector"] {
    margin-top: 20px;
    font-weight: 600;
    align-self: flex-end;
    margin-right: 50px;
    font-size: 12px;
}


#add-new-task, 
#delete-project, 
#delete-completed {
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: var(--color-grey);
    font-weight: 600;
    box-shadow: var(--shadow);
}

#add-new-task:hover, 
#delete-project:hover, 
#delete-completed:hover {
    background-color: var(--color-hover-grey);
} 

#add-new-task:active, 
#delete-project:active, 
#delete-completed:active {
    transform: translateY(2px);
}

#sort-selector {
    text-align: center;
    border-radius: 8px;
    border: none;
    padding: 2px;
    margin-top: 5px;
    background-color: var(--color-grey);
    align-self: flex-end;
    margin-right: 50px;
    box-shadow: var(--shadow);
}

.tasks-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-light-rose);
    position: relative;
}

.task-modal, 
.project-modal {
    border: none;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-color: var(--color-transparent-violet);
    margin-left: auto;
    margin-right: auto;
    top: 15%;
    left: 0;
    right: 0;
    box-shadow: var(--shadow);
}

.project-modal {
    padding: 20px;
    height: 200px;
}

.project-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    height: 100%;
}

#close-project-modal {
    height: 30px;
    width: 30px;
    text-align: center;
    border: none;
    border-radius: 50%;
    align-self: flex-end;
}

#close-project-modal:hover {
    background-color: var(--color-hover-grey);
}

#close-project-modal:active {
    transform: translateY(2px);
}

label[for="project-name"] {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    color: white;
}

#project-name {
    border: none;
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    width: 80%;
}

#submit-project {
    justify-self: flex-end;
    align-self: center;
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 8px;
    background-color: var(--color-opaque-grey);
    font-weight: 600;
}

#submit-project:hover {
    background-color: var(--color-hover-grey);
}

#submit-project:active {
    transform: translateY(2px);
}

.space-div {
    flex: 1;
}

.task-modal {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: max-content;
    height: 60%;
    width: 40%;
}

#close-task-modal {
    align-self: flex-end;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    padding: 5px;
}

#close-task-modal:hover {
    background-color: var(--color-hover-grey);
}

#close-task-modal:active {
    transform: translateY(2px);
}

.task-form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.task-form > label,
.priority-fieldset > legend {
    display: block;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: white;
}

.task-form > input,
.task-form > select {
    border: none;
    border-radius: 8px;
    padding: 5px;
    width: 80%;
}

.priority-fieldset {
    margin-top: 10px;
    margin-bottom: 10px;
}

.priority-fieldset div {
    display: flex;
    justify-content: space-around;
    color: white;
}

textarea {
    height: 15%;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

#submit-task {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    align-self: center;
    justify-self: center;
}

#submit-task:hover {
    background-color: var(--color-hover-grey);
}

#submit-task:active {
    transform: rotateY(2px);
}

.task-unit {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
    background-color: var(--color-grey);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.delete-task {
    padding: 18px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    height: 100%;
}

.collapse {
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    outline: none;
    font-size: 15px;
    }

.active, 
.collapse:hover,
.delete-task:hover {
    background-color: var(--color-hover-grey);
}

.collapse:after {
    content: '\002B';
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.collapse-content {
    padding: 15px;
    overflow-wrap: break-word;
    transition: max-height 0.2s ease-out;
    background-color: var(--color-grey);
    display: none;
    border-radius: 8px;
}

.delete-task:after {
    content: "\1F5D1";
}

.task {
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: relative;
    border-radius: 8px;
}

.task-text {
    display: flex;
    align-items: center;
    flex: 1;
}

.due-date {
    justify-self: flex-end;
}

.task-name {
    flex: 1;
    word-wrap: break-word;
}

.collapse, 
.delete-task {
    justify-self: flex-end;
    background-color: rgba(0, 0, 0, 0.0);
    cursor: pointer;
    border: none;
}

.delete-task {
    border: none;
}

.checkbox {
    justify-self: flex-start;
}

#task-list {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.checkbox {
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    appearance: none;
    border-radius: 50%;
    background-color: white;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}

.checkbox:hover {
    background-color: var(--color-hover-grey);
}

.checkbox:checked {
    background-color:  var(--color-transparent-violet);
}

.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox:checked:after {
    display: block;
}

.checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

button {
    min-width: min-content;
}